.carousel-item {
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  .box{
    height:250px;
      width:300px;
      overflow:hidden;
  }
  .newsbox{
    height:300px;
      width:600px;
      overflow:hidden;
  }